{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Список сотрудников</h1>
    <a href="{% url 'employee-create' %}">Добавить сотрудника</a>
    <ul>
        {% for employee in employees %}
            <li>
                Имя: {{ employee.name }}; Должность: {{ employee.position }};
                <ul>
                    {% for shop_employee in employee.shop_employees.all %}
                        Shop: <li>{{ shop_employee.shop.address }}</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'employee-delete' employee.id %}" class="delete-button">Удалить</a>
                <a href="{% url 'employee-update' employee.id %}" class="edit-button">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>